.toast
{
    border: none;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(61, 59, 59);
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 3px 1px  rgb(23, 22, 22) ;

}
.toast:hover
{
    box-shadow: 0px 0px 10px 1px  rgb(34, 79, 164) ;

}